/indiechat/sdk/__pycache__
/wa-echo-loop/.wwebjs_auth
/wa-echo-loop/.wwebjs_cache
/wa-echo-loop/node_modules
/sdk/__pycache__
/target
/approach-road/wa-echo-loop/.wwebjs_auth
/approach-road/wa-echo-loop/.wwebjs_cache
/approach-road/wa-echo-loop/node_modules
approach-road/discord/.env
/gateway-service/bin
/gateway-service/storage
/gateway-service/bin
/gateway-service/bin
gateway-service/.qdrant-initialized
gateway-service/bin/orchestrator
vectorDB/qdrant/
gateway-service/bin/orchestrator
